# ==============================
# Node / JavaScript
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Build
# ==============================
dist/
build/

# ==============================
# Environment
# ==============================
.env
.env.*
!.env.example

# ==============================
# Logs
# ==============================
logs
*.log

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Docker
# ==============================
docker-compose.override.yml

# ==============================
# Kubernetes temporários
# ==============================
*.bak
*.tmp