* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #07142d;
  color: white;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid #1e293b;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  color: #94a3b8;
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 30px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));

  gap: 20px;
}

.card {
  background: #1e2d48;

  border-radius: 16px;

  padding: 25px;

  border: 1px solid #334155;

  box-shadow: 0 0 20px rgba(255, 255, 255, .05);
}

.large {
  grid-column: span 2;
}

.card h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;

  padding: 12px;

  margin-bottom: 12px;

  border: none;

  border-radius: 8px;

  background: #0f172a;

  color: white;
}

input::placeholder {
  color: #94a3b8;
}

button {
  width: 100%;

  padding: 12px;

  border: none;

  border-radius: 8px;

  background: #0ea5e9;

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #0284c7;
}

#login-status,
#upload-result,
#infra-status {
  margin-top: 15px;
}

.online {
  color: #22c55e;
  font-weight: bold;
}

.error {
  color: #ef4444;
  font-weight: bold;
}

.processing {
  color: #f59e0b;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #0f172a;
}

th {
  color: #38bdf8;
  text-align: left;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #334155;
}

tr:hover {
  background: rgba(255, 255, 255, 0.03);
}

.status-badge {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 600;
}

.status-received {
  background: rgba(59, 130, 246, .2);
  color: #3b82f6;
}

.status-processing {
  background: rgba(245, 158, 11, .2);
  color: #f59e0b;
}

.status-completed {
  background: rgba(34, 197, 94, .2);
  color: #22c55e;
}

.status-error {
  background: rgba(239, 68, 68, .2);
  color: #ef4444;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-label {
  color: #94a3b8;
}

.info-value {
  font-weight: bold;
}

.download-link {
  color: #38bdf8;
  text-decoration: none;
}

.download-link:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {

  .large {
    grid-column: span 1;
  }

  header h1 {
    font-size: 2rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

}

.download-btn {
  background: #0ea5e9;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
}

.download-btn:hover {
  background: #0284c7;
}